.section-slider {
   font-family: "Lato", sans-serif;
}
.slider {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   &__title {
      text-align: center;
      font-size: 5rem;
   }
}
.slider-container {
   display: flex;
   align-items: center;
   position: relative;
}
.slider-wrapper {
   width: 600px;
   height: 300px;
   border: 1px solid #000;
   display: flex;
   justify-self: center;
   align-items: center;
}
.slide {
   width: 100%;
   display: none;
   /* transition: opacity 1s ease-in; */
}
.slide img {
   max-width: 600px;
   max-height: 300px;
   width: 100%;
   height: auto;
   display: block;
}
.active {
   display: block;
   background: rgb(46, 45, 45);
}
.btn-prev,
.btn-next {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgb(177, 175, 175);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.5s ease;
   position: absolute;
   cursor: pointer;
}
.btn-prev {
   left: -80px;
   top: 40%;
   display: block;
}
.btn-next {
   right: -80px;
   top: 40%;
   display: block;
}
.btn-prev:hover,
.btn-next:hover {
   background-color: rgb(138, 138, 138);
   transform: scale(1.1);
}
.btn-prev img {
   transform: rotate(180deg);
}
.btn-prev img,
.btn-next img {
   max-width: 40px;
   max-height: 40px;
   margin: 5px 0 0 5px;
   display: block;
}
.dots-wrapper {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
.dot {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: rgb(170, 170, 170);
   margin-right: 15px;
   cursor: pointer;
}
.dot:last-child {
   margin-right: 0;
}
